body {
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 95%;
    margin: 0 auto;

    border:2px solid red;
}

.title {

    border:2px solid red;
    margin: 20px;
}

.controlPanel {
    border:2px solid red;
    margin: 20px;
}

.boardDisplay {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    border:2px solid red;
    margin: 20px;    
}

.pOneGameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    border:2px solid red;
    margin: 20px;
}

.pOneGameboard p {
    grid-column: 1 / -1;
}

.pTwoGameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    border:2px solid red;
    margin: 20px;
}

.pTwoGameboard p {
    grid-column: 1 / -1;
}


.gridCell {
    min-width: 20px;
    width: 50px;
    min-height: 20px;
    height: 50px;
    border: 1px solid blue;
}

.emptyHit{
    background-color: grey;
}

.populatedHit{
    background-color: rgb(185, 15, 15);
}