body {
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 90%;
    height: 100vh;
    margin: 0 auto;

    border:2px solid red;
}

.title {
    width: 100%;

    border:2px solid red;
}

.controlPanel {
    width: 100%;

    border:2px solid red;
}

.gameboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    border:2px solid red;
}

.gridCell {
    min-width: 20px;
    width: 50px;
    min-height: 20px;
    height: 50px;
    border: 2px solid blue;
}