body {
    padding: 0;
    margin: 0;
    background-color: #80b0ca;
}

h1 {
    color: white;
    font-family: "Bowlby One SC", sans-serif;
    letter-spacing: 1.5px;
    text-shadow: 
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000,
            -3px 0px 0 #000,
            3px 0px 0 #000,
            0px -3px 0 #000,
            0px 3px 0 #000;
    text-align: center;
}

.wrapper{
    display: grid;
    grid-template-columns: 150px 3fr 250px;
    grid-template-rows: repeat(1);
    width: 100%;
    min-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.gameWrapper {
    width: 100%;
}

.title {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

.title h1 {
    background-color: red;
    border: 5px solid white;
    border-radius: 8px;
    padding: 25px;
    margin: 0;
}

.startButton{
    width: 120px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.startButton button {
    width: 120px;
    height: 90px;
}

.controlPanel {
    grid-column: 3;
    grid-row: 1;
    width: 200px;
    margin: 0 0 0 20px;
}

.boardWrapper {
    display: inline-block;
    grid-column: 2;
    width:500px;
    padding: 20px;
    margin: 0 10px 20px 10px;
    background-color: #487187;
    border-radius: 15px;
    border: 5px solid white;
}

.gridCell {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgb(43, 43, 43), 2px 0 4px 0 rgb(43, 43, 43);
}

.gridCellPlayer {
    display: flex;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgb(43, 43, 43), 2px 0 4px 0 rgb(43, 43, 43);
}

.boardDisplay {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.playerBoardDisplay {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); 
}

.playerBoardDisplay h1 {
    grid-row: 1 / 1;
}

.emptyHit{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 25%;
    top: 25%;
    background-color: rgb(219, 219, 219);
}

.populatedHit{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 25%;
    top: 25%;
    color: rgb(185, 15, 15);
    background-color: #b90f0f;
}