/* 
colours

midnight violet #3a3042
taupe grey #56494c
platinum #e5e9ec
sage green #6a994e
orange #faa916


#487187
*/

body {
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 100%;
    margin: 20px auto;
}

.title {
    margin: 20px;
    text-align: center;
}

.title button {
    width: 120px;
    height: 90px;
}

.controlPanel {
    display: none;
    height: 100px;
    margin: 20px;
}

.gameWrapper {
    display: flex;
    justify-content: space-between;
}

.gameWrapper h1 {
    text-align: center;
}

.boardWrapper {
    width:500px;
    flex: 1;
    background-color: #487187;
}

.gridCell {
    width: 40px;
    /* width: 50px; */
    height: 40px;
    /* height: 50px; */
    /* border:1px solid black; */
    box-shadow: 0 2px 4px 0 rgb(43, 43, 43), 2px 0 4px 0 rgb(43, 43, 43);
    /* box-shadow: 2px 2px 5px black; */
}

.gridCellTEMP {
    min-width: 20px;
    width: 50px;
    min-height: 20px;
    height: 50px;
    border: 1px solid rgb(0, 255, 34);
}

.boardDisplay {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.secondBoardDisplay {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    margin: 20px;    
}

.secondBoardDisplay h1 {
    grid-row: 1 / 1;
}

.pOneGameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    border:2px solid red;
    margin: 20px;
}

.pOneGameboard p {
    grid-column: 1 / -1;
}

.pTwoGameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    border:2px solid red;
    margin: 20px;
}

.pTwoGameboard p {
    grid-column: 1 / -1;
}

.emptyHit{
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    left: 25%;
    top: 25%;
    background-color: rgb(219, 219, 219);
}

.populatedHit{
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    left: 25%;
    top: 25%;
    background-color: rgb(185, 15, 15);
}