body {
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 95%;
    margin: 0 auto;

    border:2px solid red;
}

.title {

    border:2px solid red;
    margin: 20px;
}

.controlPanel {
    height: 100px;
    border:2px solid red;
    margin: 20px;
}

.gameWrapper {
    display: flex;
    justify-content: space-between;
    border: 2px solid greenyellow;
}

.gameWrapper h1 {
    text-align: center;
}

.boardWrapper {
    width: 20%;
    min-width:580px;
    flex: 1;
    margin: 20px;
    border: 2px solid orange;
}

.boardDisplay {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    border:2px solid red;
    margin: 20px;    
}

.secondBoardDisplay {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    border:2px solid red;
    margin: 20px;    
}

.secondBoardDisplay h1 {
    grid-row: 1 / 1;
}

.pOneGameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    border:2px solid red;
    margin: 20px;
}

.pOneGameboard p {
    grid-column: 1 / -1;
}

.pTwoGameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    border:2px solid red;
    margin: 20px;
}

.pTwoGameboard p {
    grid-column: 1 / -1;
}


.gridCell {
    min-width: 20px;
    width: 50px;
    min-height: 20px;
    height: 50px;
    border: 1px solid blue;
}

.gridCellTEMP {
    min-width: 20px;
    width: 50px;
    min-height: 20px;
    height: 50px;
    border: 1px solid rgb(0, 255, 34);
}

.emptyHit{
    background-color: grey;
}

.populatedHit{
    background-color: rgb(185, 15, 15);
}